<!-- ai-browser/src/app/components/browser-frame/browser-frame.component.html -->
<header class="bg-gray-800 text-white p-3 flex justify-between items-center">
  <div class="text-lg font-bold">AI Browser</div>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Search the data" aria-label="Search" matInput [formControl]="searchControl"
      [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addTab()">
      <mat-icon>tab_unselected</mat-icon>
      <span>New Tab</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>tab</mat-icon>
      <span>New Incognito Tab</span>
    </button>
    <button mat-menu-item>
      <mat-icon>laptop_windows</mat-icon>
      <span>New Window</span>
    </button>
  </mat-menu>
</header>
<router-outlet></router-outlet>